@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: wheat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #113448;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: wheat;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: wheat;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #113448;
  background: wheat;
}

nav .menu-btn i {
  color: wheat;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.main-heading {
  text-align: center;
  color: #113448;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 400px;
  border: 1px solid wheat;
  background-color: #71c2af;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  padding-top: 25px;
  margin: 0 auto;
}

.input2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

::placeholder {
  color: wheat;
}

#kgram,
#gram,
#mgram,
#pound,
#ounce,
#carrat,
#inch,
#meter,
#kilo-meter,
#milli-meter,
#centi-meter,
#foot,
#indian-rs,
#euro,
#dollar,
#dirham,
#adollar,
#cyuan,
#minute,
#hour,
#second,
#millisecond,
#microsecond,
#nanosecond,
#cel,
#kel,
#fahr {
  margin: 0 auto;
  border: 1px solid wheat;
  padding: 20px 20px;
  font-size: 15px;
  width: 75%;
  box-shadow: 0 1px 5px rgb(97, 97, 97);
  background-color: #113448;
  color: wheat;
}

p {
  text-align: center;
  color: #113448;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.para-content {
  margin-top: 30px;
}

main {
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #113448;
}

.footer-heading {
  color: wheat;
  text-align: center;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .input2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input1 {
    margin-bottom: 40px;
    width: 80%;
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 1000px) {
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #113448;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  nav ul li a:hover {
    background: none;
    color: #28d8af;
  }

  #click:checked ~ ul li a {
    margin-left: 0;
  }
}
